<%- include('partials/header'); -%>
    <h1>Compose</h1>
    <div class="form-group">
        <form class="" action="/compose" method="post">
            <label for="title">Title</label><br>
            <textarea type="text" cols="40" rows="5" name="postTitle"></textarea><br>
            <button type="submit" name="button">Publish</button>
    </div>
    </form>
    <%- include('partials/footer'); -%>